<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chin.bbdb"
    android:versionCode="33"
    android:versionName="1.5.9" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:name="BBDBApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.chin.bbdb.activity.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chin.bbdb.activity.AdvancedSearchActivity"
            android:label="@string/title_activity_advanced_search" >
        </activity>
        <activity
            android:name="com.chin.bbdb.activity.FamDetailActivity"
            android:label="@string/title_activity_fam_detail"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chin.bbdb.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.chin.bbdb.activity.FamCompareActivity"
            android:label="@string/title_activity_fam_compare"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chin.bbdb.activity.FamDetailActivity" />
        </activity>
        <activity
            android:name="com.chin.bbdb.activity.HelpAboutActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="com.chin.bbdb.activity.BuildBrigActivity"
            android:label="@string/title_activity_build_brig" >
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.chin.bbdb.activity.TierTableActivity"
            android:label="@string/title_activity_tier_table">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chin.bbdb.activity.MainActivity" />
        </activity>
    </application>

</manifest>
